@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

$colorfondo: springgreen;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: $colorfondo;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'DynaPuff', cursive;

    h1{
        color: black;
    }
}
.item{
    display: grid;
    background-color: $colorfondo;
    grid-gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
}
.item1{
    background-image: url(../multimedia/prod1.jpg);
    background-position: center;
    background-size: cover;
}
.item2{
    background-image: url(../multimedia/prod2.jpg);
    background-position: center;
    background-size: cover;
}
.item3{
    background-image: url(../multimedia/prod3.jpg);
    background-position: center;
    background-size: cover;
}
.item4{
    background-image: url(../multimedia/prod4.jpg);
    background-position: center;
    background-size: cover;
}
.item5{
    background-image: url(../multimedia/prod5.jpg);
    background-position: center;
    background-size: cover;
}
.item6{
    background-image: url(../multimedia/prod6.jpg);
    background-position: center;
    background-size: cover;
}
footer{
    font-family: 'DynaPuff', cursive;
    background-color: $colorfondo;

    div{
        text-align: center;
    }
    
    h2{
        color: black;
    }

    h3{
        color: white;
        padding: 10px;
    }
}
.footer{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.footerDerechos{
    background-color: black;
    text-align: center;
}
